<div class="login-container">
    <div class="form-signin">
      <div class="text-center mb-4">
        <img src='../../../assets/img/logo.png' alt="logo" class="mb-4" width="72" height="72"/>
        <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
      </div>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-label-group">
          <input 
            [(ngModel)]="user.email"
            name="email"
            id="email"
            type="email" 
            class="form-control" 
            placeholder="Email address" 
            autofocus />
        </div>
        <div class="form-label-group">
          <input 
            [(ngModel)]="user.password"
            name="password"
            id="password"
            type="password" 
            class="form-control" 
            placeholder="Hasło" />
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="Zapamiętaj mnię" />
            Zapamiętaj mnie
          </label>
        </div>
        <button class="submit-btn" type="submit">Zaloguj się</button>
      </form>
      <p class="mt-3 mb-2 text-center">© TvSC-2018</p>
    </div>
  </div>
  