<div class="one-day-calendar">
  <div class="one-day-calendar-left">
    <div class="one-day-calendar-left-day">

      <div class="one-day-calendar-left-day-number">
          <i class="fa fa-caret-left arrow-left"></i>
            <span>25</span>
          <i class="fa fa-caret-right arrow-right"></i>
      </div>

      <div class="one-day-calendar-left-day-month">Czerwiec</div>
    </div>
  </div>
  <div class="one-day-calendar-right">
    <div class="on-day-container-right">
      <img src="../../../../../assets/img/got.jpg" alt="Game of Thrones" style="width:90px">
      <div class="star-rating">
        <div class="text">Ocena : 3/5</div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <p><span>Gra o tron</span> ( org. Game of Thrones )</p>
      <div>
        <p>Ep.11 Where are we going ? </p>
        <div class="one-day-button-see-more">
        Zobacz więcej
        </div>
      </div>
    </div>

    <div class="on-day-container-right">
      <img src="../../../../../assets/img/st.jpg" alt="Stranger Things" style="width:90px">
      <div class="star-rating">
      <div class="text">Ocena : 4/5</div>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      </div>
      <p><span>Stranger Things</span> ( org. Stranger Things )</p>
      <div>
        <p>Ep.11 Monster in my closet ? </p>
        <div class="one-day-button-see-more">
        Zobacz więcej
        </div>
      </div>
    </div>

    <div class="on-day-container-right">
      <img src="../../../../../assets/img/sherlock.jpg" alt="Sherlock" style="width:90px">
      <div class="star-rating">
      <div class="text">Ocena : 5/5</div>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      </div>
      <p><span>Sherlock</span> ( org. Sherlock )</p>
      <div>
        <p>Ep.1 A Study in Pink </p>
        <div class="one-day-button-see-more">
        Zobacz więcej
        </div>
      </div>
    </div>

  </div>
</div>
