<div class="row">
  <div class="col banner" style="max-height: 300px">
    <img src="../../../../../assets/img/sherlock-banner.jpg" alt="Sherlock banner" style="height: 100%; width: 100%"/>
    <div class="abs title">
      Sherlock
    </div>
    <div class="abs next-episode">
      Następny odcinek za : 10dni 20:45:15
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-2">
    <div class="image-container">
        <img src="../../../../../assets/img/sherlock-temp.jpg" alt="Sherlock" class="image"/>
    </div>
  </div>
  <div class="col-6">
    <div class="title">
      Sherlock (org. Sherlock)
    </div>
  </div>
  <div class="col-4">
    <div class="rating">
      Ocena : 7/10 Oceniło : 1000 osób
    </div>
  </div>
</div>
