<ul class="breadcrumb">
    <li><a routerLink="/admin/tvSeries">/Seriale</a></li>
</ul>

<div class="row">
  <div class="col-sm">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Wyszukaj" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline" id="basic-addon2" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
  <div class="col-sm text-right">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Dodaj</button>
  </div>
</div>


<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>